<div class="row">
  <span ng-show="home.currentLesson" ng-bind-html="home.currentLesson.description"></span>
  <span ng-show="!home.currentLesson">
    <h3 >Liste des environnements de création</h3>
   <p>Bienvenue ! Dans cette section, vous aurez l'occasion de participer au développement d'un projet de recherche.
 Comment ? En vous amusant !</p>
 
 <p> Ici pas d'algorithmes à écrire, laissez cours à votre imagination ! Déplacez votre buggle dans de nombreux
  mondes !</p>

  </span>
</div> <!-- /.row lesson's description -->
<div class="row" ng-show="home.currentLesson">
  <p>
    <button class="button radius" ng-click="home.goToLesson()">Allez !</button>
  </p>
</div> <!-- /.row user's progression -->
